/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

/* Typography */
body           { font-family: "Poppins", sans-serif; }
.featured-text { font-family: "Montserrat", sans-serif;}

/* Button styles */

.button {
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 0.3rem 1.2rem;
    border: 1px solid var(--featured-color);
    transition: all 150ms;
    display: inline-block;
}

.button:hover {
    background-color: var(--accent-color);
    border: 1px solid transparent;
}

header a {
    border: 1px solid transparent;
    transition: all 150ms;
}

header a:hover {
    background-color: var(--featured-color);
    border: 1px solid var(--featured-color);
    border-radius: 15px;

}

footer a {
    border-bottom: 2px solid transparent;
}

footer a:hover {
    border-bottom: 2px solid;
    display: inline-block;
}
