<section class="min-h-96 grid grid-cols-12 md:grid-cols-5 border-y border-featured" style="background-image: url('{{block.bg-image}}')">
  <div class="col-span-1"></div>
  <div class="bg-base-color p-8 py-32 border-x border-featured col-span-9 md:col-span-2 content-center">
      <h2 class="uppercase text-3xl pb-4 featured-text">{{block.heading}}</h2>
      <p>{{block.text}}</p>
      {% if block.button-text and block.button-link %}
      <a href="{{block.button-link}}" class="button mt-4">{{block.button-text}}</a>
      {% endif %}
  </div>
</section>