<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include site-head.html %}

<style>
   :root {
      --featured-color: {{site.data.style.featured-color}};
      --accent-color: {{site.data.style.accent-color}};
      --light-accent-color: {{site.data.style.light-accent-color}};
      --base-color: {{site.data.style.base-color}};
      --light-base-color: {{site.data.style.light-base-color}};
   }
</style>

<body class="bg-base-color text-featured">

 <!-- Header -->
 {% include header.html %}

 {% for block in page.blocks %}

 {% include /{{block.id}}.html %}

 {% endfor %}

    <!-- {{content}} -->

 {% include footer.html %}

</body>
</html>